<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CreateDoctorServlet</servlet-name>
        <servlet-class>ece356.servlet.CreateDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ece356.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientSignupServlet</servlet-name>
        <servlet-class>ece356.servlet.PatientSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientSearchServlet</servlet-name>
        <servlet-class>ece356.servlet.PatientSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowPatientServlet</servlet-name>
        <servlet-class>ece356.servlet.FollowPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateReviewServlet</servlet-name>
        <servlet-class>ece356.servlet.CreateReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorHomeSevlet</servlet-name>
        <servlet-class>ece356.servlet.DoctorHomeSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSearchServlet</servlet-name>
        <servlet-class>ece356.servlet.DoctorSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWorkAddressServlet</servlet-name>
        <servlet-class>ece356.servlet.AddWorkAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateDoctorServlet</servlet-name>
        <servlet-class>ece356.servlet.RateDoctorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDoctorServlet</servlet-name>
        <url-pattern>/CreateDoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSignupServlet</servlet-name>
        <url-pattern>/PatientSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSearchServlet</servlet-name>
        <url-pattern>/PatientSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowPatientServlet</servlet-name>
        <url-pattern>/FollowPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateReviewServlet</servlet-name>
        <url-pattern>/CreateReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorHomeSevlet</servlet-name>
        <url-pattern>/DoctorHomeSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSearchServlet</servlet-name>
        <url-pattern>/DoctorSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWorkAddressServlet</servlet-name>
        <url-pattern>/AddWorkAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateDoctorServlet</servlet-name>
        <url-pattern>/RateDoctorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
